* {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: monospace;
  background-color:#00a652;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}
/*code css di atas ini berlaku buat semua (global) */
/* bagian navigasi bar by Deni*/
.nav-bar {
  height: 70px;
  background-color: #00a651;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}

.brand a img {
  max-height: 70px;
}

.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
  max-width: 100%;
  margin: 0 auto;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background-color: #00a651;
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover,
nav ul li a:visited:hover {
  background: #2ab1ce;
  color: #ffffff;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 999px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #00a651;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
    position: absolute;
  }

  nav ul {
    display: none;
  }

  nav ul li {
    float: none;
  }

  nav ul li a {
    padding: 15px;
    line-height: 20px;
    padding-left: 25%;

  }

  nav ul li ul li a {
    padding-left: 30%;
  }

  .nav-dropdown {
    position: static;
  }

  .brand a img {
    max-height: 40px;
    margin: 15px;
  }
}

@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: #00a651;

}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;}
/*Bagian Profil Anggota*/

.profile {
  background-color: #00a652;
  color: #00a652;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0 5%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.card {
  display: block;
  float: left;
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0 0 28%;
  -webkit-perspective: 700px;
  perspective: 700px;
}

.card-object {
  color: #FFF;
  display: block;
  float: left;
  position: absolute;
  top: 6%;
  left: 6%;
  width: 88%;
  height: 88%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card-object.card-1 .front {
  background: #222 url(https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=60) 90% 35%;
  background-size: 115%;
}

.card-object.card-1 .back .img-wrapper {
  background: transparent url(https://images.unsplash.com/photo-1558980664-4d79c6e77b93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=60) 70% 45%;
  background-size: 160%;
}

.card-object.card-1 .back .avatar {
  background: transparent url(https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=60) 40% 20%;
  background-size: 130% 130%;
}

.card-object.card-2 .front {
  background: #222 url(https://images.unsplash.com/photo-1533088468076-d1f6bdf16f62?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=60) 50% 90% no-repeat;
  background-size: 105%;
}

.card-object.card-2 .back .img-wrapper {
  background: transparent url(https://images.unsplash.com/photo-1558981806-ec527fa84c39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=60) 70% 50%;
  background-size: 140%;
}

.card-object.card-2 .back .avatar {
  background: transparent url(https://images.unsplash.com/photo-1533088468076-d1f6bdf16f62?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=60) 50% 50% no-repeat;
  background-size: 140% 140%;
}

.card-object.card-3 .front {
  background: #222 url(https://images.unsplash.com/photo-1565114303958-364b4c007d57?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=60) 80% 100% no-repeat;
  background-size: 108%;
}

.card-object.card-3 .back .img-wrapper {
  background: transparent url(https://images.unsplash.com/photo-1556006147-e0b8ba7bfdfd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=60) 90% 40% no-repeat;
  background-size: 115%;
}

.card-object.card-3 .back .avatar {
  background: #fff url(https://images.unsplash.com/photo-1565114303958-364b4c007d57?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=60) 0 50% no-repeat;
  background-size: 120% 120%;
}

.card-object.card-4 .front {
  background: #222 url(https://images.unsplash.com/photo-1534523600533-71d091d911d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=60) 90% 35%;
  background-size: 115%;
}

.card-object.card-4 .back .img-wrapper {
  background: transparent url(https://images.unsplash.com/photo-1564314966697-423d88ac79d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=60) 70% 45%;
  background-size: 160%;
}

.card-object.card-4 .back .avatar {
  background: transparent url(https://images.unsplash.com/photo-1534523600533-71d091d911d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=60) 40% 20%;
  background-size: 130% 130%;
}

.card-object.card-5 .front {
  background: #222 url(https://images.unsplash.com/photo-1540728299754-c52e0b2baf1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=60) 50% 90% no-repeat;
  background-size: 105%;
}

.card-object.card-5 .back .img-wrapper {
  background: transparent url(https://images.unsplash.com/photo-1551547600-8d30c2559da8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=60) 70% 50%;
  background-size: 140%;
}

.card-object.card-5 .back .avatar {
  background: transparent url(https://images.unsplash.com/photo-1540728299754-c52e0b2baf1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=60) 50% 50% no-repeat;
  background-size: 140% 140%;
}
.card-object.flip-in.card-1,
.card-object.flip-in.card-3,
.card-object.flip-in.card-4,
.card-object.flip-in.card-5{
  -webkit-animation: flip-2-hor-top-fwd 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  animation: flip-2-hor-top-fwd 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}

.card-object.flip-in.card-2,
.card-object.flip-.card-4{
  -webkit-animation: flip-2-hor-bottom-fwd 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  animation: flip-2-hor-bottom-fwd 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}

.card-object.flip-out.card-1,
.card-object.flip-out.card-3,
.card-object.flip-out.card-5{
  animation: flip-2-hor-top-fwd 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) reverse both;
}

.card-object.flip-out.card-2, 
.card-object.flip-out.card-4{
  animation: flip-2-hor-bottom-fwd 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) reverse both;
}

.card-object-hf .back {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.face {
  color: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  align-items: flex-end;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.face.front {
  z-index: 20;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.face.front::before {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  content: "";
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.1) 100%) no-repeat;
  opacity: 0.7;
  z-index: 20;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.face.front::after {
  position: absolute;
  top: 7%;
  right: 7%;
  bottom: 7%;
  left: 7%;
  z-index: 100;
  content: "";
}

.face.front .titleS {
  position: absolute;
  bottom: 3%;
  left: 25%;
  right: 25%;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  z-index: 100;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.28s ease;
  transition: -webkit-transform 0.28s ease;
  transition: transform 0.28s ease;
  transition: transform 0.28s ease, -webkit-transform 0.28s ease;
}

.face.front .titleS .title {
  position: relative;
  width: 100%;
  text-transform: uppercase;
  font-size: 2vw;
  line-height: 1;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.face.front .titleS .title::after {
  display: block;
  margin: 7% auto 8% auto;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #fff;
  opacity: 0.5;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.15s;
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s;
}

.face.front .titleS .subtitle {
  font-size: 0.9vw;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.face.front:hover::before {
  opacity: 0.9;
}

.face.front:hover .titleS {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.face.front:hover .titleS .title {
  opacity: 1;
}

.face.front:hover .titleS .title::after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 0.5;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.face.front:hover .titleS .subtitle {
  opacity: 0.7;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.face.back {
  color: #222;
  background: #fff;
  z-index: 10;
}

.info-container {
  position: absolute;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
  -webkit-box-align: start;
  align-items: flex-start;
  top: 6%;
  right: 6%;
  bottom: 6%;
  left: 6%;
  padding: 0;
}

.img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 38%;
  z-index: 10;
}

.img-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(14, 6, 70, 0.6);
  opacity: 0.7;
}

.avatar {
  position: absolute;
  left: 50%;
  height: 68%;
  width: 25.84%;
  display: block;
  border-radius: 50%;
  margin-top: 25.08%;
  margin-left: -12.92%;
  background-color: #fff;
  border: 3px solid #FFF;
  z-index: 20;
}

.infoS {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 50.92%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 4% 15% 15%;
}

.info-title {
  font-size: 1.5vw;
  text-align: left;
  padding: 0;
  margin: 0;
  text-align: center;
  display: block;
  width: 100%;
}

.info-content {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding: 8% 0 0;
  margin: 8% 0 0;
  border-top: 1px solid #e0e0e0;
}

.info-content-item {
  color: #222;
  font-size: 0.75vw;
  line-height: 1;
  text-align: center;
  display: inline-block;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #aaa;
}

.info-content-item span {
  display: block;
  font-weight: bold;
  font-size: 1.1vw;
  margin-top: 7px;
  text-transform: none;
  color: #222;
}

.info {
  position: absolute;
  bottom: 30px;
  left: 5%;
  right: 5%;
  font-size: 1em;
  text-align: center;
}

.info a {
  color: #8c0f8c;
  text-decoration: none;
}

.info a:hover {
  text-decoration: underline;
}

@-webkit-keyframes flip-2-hor-top-fwd {
  0% {
    -webkit-transform: translateY(0) translateZ(0) rotateX(0);
    transform: translateY(0) translateZ(0) rotateX(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }

  100% {
    -webkit-transform: translateY(-100%) translateZ(100px) rotateX(-180deg);
    transform: translateY(-100%) translateZ(100px) rotateX(-180deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}

@keyframes flip-2-hor-top-fwd {
  0% {
    -webkit-transform: translateY(0) translateZ(0) rotateX(0);
    transform: translateY(0) translateZ(0) rotateX(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }

  100% {
    -webkit-transform: translateY(-100%) translateZ(100px) rotateX(-180deg);
    transform: translateY(-100%) translateZ(100px) rotateX(-180deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}

@-webkit-keyframes flip-2-hor-bottom-fwd {
  0% {
    -webkit-transform: translateY(0) translateZ(0) rotateX(0);
    transform: translateY(0) translateZ(0) rotateX(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }

  100% {
    -webkit-transform: translateY(100%) translateZ(100px) rotateX(180deg);
    transform: translateY(100%) translateZ(100px) rotateX(180deg);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}

@keyframes flip-2-hor-bottom-fwd {
  0% {
    -webkit-transform: translateY(0) translateZ(0) rotateX(0);
    transform: translateY(0) translateZ(0) rotateX(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }

  100% {
    -webkit-transform: translateY(100%) translateZ(100px) rotateX(180deg);
    transform: translateY(100%) translateZ(100px) rotateX(180deg);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}

@media (max-width: 650px) {
  .profile {
    display: block;
    padding: 30px 0;
  }

  .card {
    height: 470px;
  }

  .info-title {
    font-size: 7vw;
  }

  .info-content-item {
    font-size: 4vw;
  }

  .info-content-item span {
    font-size: 3vw;
  }

  .face.front .titleS .title {
    font-size: 5vw;
  }

  .face.front .titleS .subtitle {
    font-size: 3vw;
  }
}
/*Bagian Contact*/


/*Bagian Message & Footer*/
.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

/*Query media responsiv di bawah*/

@media (max-width:1000px){
/*Bagian Deskripsi Tim*/
  .top-wrapper{
    padding: 120px 20px 0px 20px;
    height: 450px;
  }
  .top-wrapper h1 {
  font-size: 40px;
  }
  .animation_1{
  font-size:24px;
  }
  .lesson {
  float: left;
  width: 50%;
  }
}

@media (max-width:670px){
/*Bagian Deskripsi Tim*/
  .top-wrapper{
    padding: 100px 15px 0px 15px;
    height: 450px;
  }
  .top-wrapper h1 {
  font-size: 35px;
  }
  .animation_1{
  font-size:20px;
  }
  .lesson {
  float: left;
  width: 100%;
  }
}

.Deni {
 width: 70%;
 display: inline-block;
 margin-top: 20px;
 font-size: 25px;
 color: black;
 align-text: center;
}

.Bayu {
  width: 45%;
  display: block;
  margin-top: 20px;
  font-size: 25px;
  color: black;
  align-text: center;
  padding-left: 20px;
}

.Dany {
  width: 45%;
  display: block;
  margin-top: 20px;
  font-size: 28px;
  color: black;
  align-text: center;
  padding-left: 150px;
}

.heading , .Bayu , .Dany {
  float: left;
}

.container h1 {
  font-style: normal;
  font-weight: bold;
}

